<header style="background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #0079c8), color-stop(1, #0067b6))"
        class="header" id = "bidSignUp">竞价{{bidName}}({{bidCount}}人)
    <button class="btn btn-primary header-left" ng-click="back_to_bidding_list()">返回</button>
    <button ng-click="end()" class="btn btn-primary header-right" ng-disabled = "colorStatus">结束</button>
</header>

<div id="wrapper" class="wrapper scrollable">
    <ul class="list-style-2">
        <li ng-repeat="bidPerson in bidPeople">
            <h2><p style="font-size: 30px">{{bidPerson.personName}}</p>

                <p>{{bidPerson.personPhone}}</p></h2>
        </li>
    </ul>
</div>