header.header(style = "background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #0079c8), color-stop(1, #0067b6))")
    竞价
    button.btn.btn-primary.header-left（ng-click = "back_to_bidding_list()"）返回
    button.btn.btn-primary.header-right(ng-click = "start()")开始
