header.header(style = "background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #0079c8), color-stop(1, #0067b6))")
    创建活动
    button.header-left.btn.btn-4.btn-primary(ng-click = "back_to_list()" ng-show = "activities")
        返回

div.wrapper(ng-controller = "CreateActivityCtrl")
    h4 活动名称
    input.input-full(ng-model = "activityName" style = "height: 30px")
    p(style = "color:#FF0000 ;height: 10px") {{warning}}
    button.btn.btn-primary.btn-block(ng-click = "create()" ng-disabled = "!activityName") 创建